<div class="flex flex-row justify-between items-center">
    <div class="w-full flex flex-col justify-center gap-y-1">
        <h4 class="text-xs font-normal">Sigue mercando</h4>
        <h2 class="text-2xl font-bold">Vinos</h2>
    </div>
    <button class="w-9 h-9 rounded-full">
        <img src="./svg/arrow-right.svg" class="h-full w-full" alt="arrow-right">
    </button>
</div>