<nav class="w-2/3 flex flex-col md:grid md:grid-cols-2 mx-auto">
    <a href="#about" class="h-8 text-center font-bold text-base hover:underline">sobre nosotros</a>
    <a href="#security" class="h-8 text-center font-bold text-base hover:underline">medidas de seguridad</a>
    <a href="#how-to" class="h-8 text-center font-bold text-base hover:underline">cómo mercar</a>
    <a href="#suppliers" class="h-8 text-center font-bold text-base hover:underline">proveedores</a>
    <a href="#contact" class="h-8 text-center font-bold text-base hover:underline">contáctenos</a>
    <a href="#location" class="h-8 text-center font-bold text-base hover:underline">zona de cobertura</a>
</nav>
<hr class="w-10 md:w-40 mx-auto my-9">
<div class="w-2/3 flex flex-col justify-center items-center mx-auto">
    <button class="w-9 h-9 border rounded-full bg-indigo-700 p-1">
        <img src="./svg/instagram.svg" class="h-full w-full" alt="instagram">
    </button>
    <a href="#politica-datos" class="text-center font-bold text-sm mt-5">pólitica de tratamiento de datos personales</a>
</div>