<h3 class="w-full text-center text-white text-sm font-bold">¿Podemos ayudarte?</h3>
<div class="w-full flex flex-row justify-center gap-3 mt-5">
    <div class="flex flex-col justify-center">
        <button class="w-16 h-16 rounded-full bg-white p-4">
            <img src="./svg/intercom.svg" class="h-full w-full" alt="intercom">
        </button>
        <h6 class="text-white text-center text-xs mt-1 font-bold uppercase">chat</h6>
    </div>
    <div class="flex flex-col justify-center">
        <button class="w-16 h-16 rounded-full bg-white p-4">
            <img src="./svg/phone.svg" class="h-full w-full" alt="phone">
        </button>
        <h6 class="text-white text-center text-xs font-bold mt-1 uppercase">llamar</h6>
    </div>
</div>