{{#each products}}
    <article class="w-full h-80 flex flex-col justify-start hover:cursor-pointer">
        <div class="w-full h-72 flex flex-col justify-between mx-auto p-4 rounded-t border">
            <img src={{img}} alt='image' class="w-36 h-36 mx-auto" />
            <div class="w-full flex flex-col justify-center gap-y-1.5">
                <h4 class="w-full font-bold text-sm">{{name}}</h4>
                <p class="h-14 text-xs">{{description}}</p>
                <p class="text-sm font-semibold">${{price}}</p>
            </div>
        </div>
        <button class="h-8 text-xs text-blue-600 uppercase bg-slate-100 rounded-b border font-semibold">agregar</button>
    </article>
{{/each}}